.cardStyle {
  height: calc(100vh - 10rem);
  -webkit-box-shadow: -5px 5px 35px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 5px 35px -3px rgba(0, 0, 0, 0.75);
  box-shadow: -5px 5px 35px -3px rgba(0, 0, 0, 0.75);

  .titleContainer {
    text-align: center;
    display: flex;
    justify-content: center;

    .btnAdd {
      border-radius: 10px;
    }
  }

  .productListContainer {
    margin: 3rem;
  }
}
